# Please copy this template.env as .env
# Don't replace credentials directory to prevent uploading your credentials to Git
sbi_id="your_id"
sbi_password="your_password"
sbi_trade_password="your_trade_pass"